<header class="header">

        <a href="#" class="logo">
            <span>E</span>vent Planner</a>

        <nav class="navbar">

            <a href="/home">event</a>
            {{!-- <a href="/signUp">sign up</a> --}}
            <a href="" id="log-out">Log out</a>
            {{!-- <a href="/yourProfile">your profile</a> --}}
            {{!-- <a href="#contact">contact</a> --}}
        </nav>

        <div id="menu-bars" class="fas fa-bars"></div>

    </header>

    <section class="home" id="home">
        <div class="content">
            <h3>Manage Your  
                <span>
                    Event! 
                </span>
            </h3>
            <a class="btn" id="attended-event">Your attended event</a>
            <a class="btn" id="created-event">Your created event</a>
            <a class="btn" id="created-event">Create New event</a>
        </div>



    </section>

    <section class="container">
        <!-- <div class="heading">
            <h1>Css Responsive Flexbox Cards</h1>
          </div> -->
          <div class="row" id="card-container">
          </div>


    </section>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- custom js file link  -->
    <script src="js/userPersonalPage.js"></script>
