<header class="header">

<<<<<<< HEAD
        <a href="#" class="logo">
            <span>E</span>vent Planner</a>

        <nav class="navbar">
            <a href="#event">event</a>
=======
        <a href="/home" class="logo">
            <span>E</span>vent Planner</a>

        <nav class="navbar">
            <a href="/home">event</a>
>>>>>>> 6d2b0f290b3b1c8517b37f0c0a3a4ae850437417
            <a href="#logIn">log in</a>
            <a href="#signUp">sign up</a>
            <a href="#yourProfile">your profile</a>
            <a href="#contact">contact</a>
        </nav>

        <div id="menu-bars" class="fas fa-bars"></div>

    </header>

    <section class="home" id="home">
        <div class="content">
            <h3>Manage Your  
                <span>
                    Event! 
                </span>
            </h3>
            <a href="#" class="btn">Your attended event</a>
            <a href="#" class="btn">Your created event</a>
        </div>



    </section>

    <section class="container">
        <!-- <div class="heading">
            <h1>Css Responsive Flexbox Cards</h1>
          </div> -->
<<<<<<< HEAD
          <div class="row">
            <div class="card">
=======
          <div class="row" id="card-container">

            <div class="card" >
>>>>>>> 6d2b0f290b3b1c8517b37f0c0a3a4ae850437417
              <div class="card-header">
                <h1>Event 1</h1>
              </div>
              <div class="card-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
                </p>
                <a href="#" class="btn">Read more</a>
              </div>
            </div>
<<<<<<< HEAD
=======

            
>>>>>>> 6d2b0f290b3b1c8517b37f0c0a3a4ae850437417
            <div class="card">
                <div class="card-header">
                  <h1>Event 2</h1>
                </div>
                <div class="card-body">
                  <p>
                    neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
                  </p>
                  <a href="#" class="btn">Read more</a>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h1>Event 3</h1>
                </div>
                <div class="card-body">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
                  </p>
                  <a href="#" class="btn">Read more</a>
                </div>
              </div>

<<<<<<< HEAD
=======
          </div>

>>>>>>> 6d2b0f290b3b1c8517b37f0c0a3a4ae850437417

    </section>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- custom js file link  -->
<<<<<<< HEAD
    <script src="js/script.js"></script>
=======
    <script src="js/userPersonalPage.js"></script>
>>>>>>> 6d2b0f290b3b1c8517b37f0c0a3a4ae850437417
